aiohttp[speedups]==3.7.3
python-slugify==4.0.1
netaddr==0.8.0
aiorun==2020.11.1
getmac==0.8.2
cryptography==3.3.1
hass-client==0.0.9
uvloop==0.14.0; sys_platform != 'win32'
zeroconf==0.28.8
tzlocal==2.1