aiohttp[speedups]==3.8.1; sys_platform != 'win32'
aiohttp==3.8.1; sys_platform == 'win32'
python-slugify==6.1.1
netaddr==0.8.0
aiorun==2021.10.1
getmac==0.8.3
uvloop==0.16.0; sys_platform != 'win32'
zeroconf==0.38.4
tzlocal==4.2
cryptography==36.0.2
git+https://github.com/hass-emulated-hue/python-hass-client.git@0.1.3#egg=hass-client==0.1.3