version: '3'

services:
  emulated_hue:
    build:
      context: ../
      dockerfile: ./.devcontainer/Dockerfile
      target: dev_vscode
    restart: "no"
    environment:
      - DATA_DIR=/config
      - HASS_URL=http://192.168.1.1:8123
      - HASS_TOKEN=yourtokenhere
      - VERBOSE=True
    volumes:
      - ..:/workspace
      - ../config:/config
    network_mode: "host"
    command: /bin/sh -c "while sleep 1000; do :; done"

# Don't use on Windows or MacOS since Docker only supports host networking on Linux
# Switch to Linux to be able to use devcontainers properly
