name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v8
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been marked as stale due to no activity and will be closed in 7 days.'
        stale-pr-message: 'This pull request has been marked as stale due to no activity and will be closed in 7 days.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        exempt-issue-labels: 'confirmed,stale-exempt'
        exempt-pr-labels: 'confirmed,stale-exempt'
