name: Update swversion

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update swversion
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update
        id: swversionupdate
        uses: hass-emulated-hue/update-swversion-action@master
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5.0.2
        with:
            committer: GitHub <noreply@github.com>
            author: GitHub <noreply@github.com>
            commit-message: Update swversion
            branch: action/update-swversion
            delete-branch: true
            title: Bump swversion to ${{ steps.swversionupdate.outputs.version }}
            body: Bumps swversion to ${{ steps.swversionupdate.outputs.version }}. See [Hue Releases](https://www.philips-hue.com/en-us/support/release-notes/bridge).
            labels: automated
